.idea/
.docusaurus/
node_modules/

.npmrc
rh-tam-kubernetes-mcp-server*
dist/
npm/**/bin/
tmp.json

# Exclude Binaries in npm folders as they should be generated
npm/**/bin/

python/.venv/
python/build/
python/dist/
python/kubernetes_mcp_server.egg-info/
!python/kubernetes-mcp-server
